body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.company_logo_container {
  width: 143px;
  height: 125px;
}

.img_logo {
  width: 100%;
}

h1 {
  flex-grow: 1;
  font-size: 100px;
  text-align: center;
  order: 2;
  margin: 0;
}

.menu {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.sandwich-menu {
  display: flex;
  height: 30px;
  width: 30px;
  order: 3;
  margin: 0;
  margin-top: 10px;
}

.sandwich-menu img {
  width: 100%;
  border-radius:30px;
}

.content {
  width: 1000px;
  text-align: center;
  justify-content: center;
  margin: auto;
  }
  
.content img {
  width: 100%;
  }