.star-rating label {
	cursor: pointer;
	font-size: 2rem;
}

.star-rating label::before {
	content: '☆';
	color: #17488d;
}

.star-rating input[type="radio"] {
	display: none;
}

.star-rating label:hover::before,
.star-rating label:hover ~ label::before,
.star-rating input[type="radio"]:checked ~ label::before {
	content: '★';
	color: #5604e3;
}

#background-img {
	background-image: url("../Assets/images/gallery/petcare_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
	height: 100vh;
	width: 100%;
	padding: 1rem;
}

#img-container {
	max-width: 100%;
	padding: 1rem;
	box-sizing: border-box;
}

.gallery-items .stats-box {
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.gallery-items:hover .stats-box {
	opacity: 1;
}

#single-animal-filter div[data-type]:hover,
#single-animal-filter div[data-type].selected {
  background-color: #4f46e5;
  transform: scale(1.05);
}