.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
}

.grid__box {
    display: block;
    font-size: 1.8rem;
}

.grid__imgContainer {
    display: flex;
    align-items: center;
    width: 8rem;
    height: 8rem;
    padding-left: 6rem;
}  

.grid__imgContainer img {
    width: 100%;
}

.grid__boxTitle {
    display: block;
    font-size: 2.2rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}