.header {
    margin: 0;
    background-color: #f2f2f2;
}

.header__logoIcon {
    display: flex;
    align-items: baseline;
}

.header__logoIcon img {
    max-width: 14.3rem;
}

.header__logoTitle {
    flex: 1;
    font-family: 'Helvetica', sans-serif;
    font-size: 10rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.menu {
    font-size: 2.5rem;
    color: black;
    transition: text-decoration 1s;
    margin-top: 2rem;
}

.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.menu li:hover {
    text-decoration: underline;
    text-decoration-skip: 1s;
    color: grey;
}

.sandwich_menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    margin: 0;
    margin-top: 1rem;
}

.sandwich_menu img {
    width: 100%;
}

/* Responsive header phone screen */
@media screen and (max-width: 580px) {

    .header { 
        justify-content: center;
    }

    .header__logoIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logoIcon img {
        max-width: 10rem;
    }

    .header__logoTitle {
        display: flex;
        font-size: 5rem;
    }

    .sandwich_menu {
        display: flex;
    }

    .menu {
        display: none;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu.active {
        display: flex;
    }
}



