html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 
}

h1 {
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.home_title {
    font-size: 4rem;
    text-align: center;
}

.home_image {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
.home_image img {
    width: 100%;
    max-width: 90rem;
  }