html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 
}

h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    font-size: 2.5rem;
    color: black;
    transition: text-decoration 1s;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.menu a:hover {
    text-decoration: underline;
    text-decoration-skip: 1s;
    color: grey;
}

.home_title {
    font-size: 4rem;
    text-align: center;
}

.home_image {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
.home_image img {
    width: 100%;
    max-width: 90rem;
  }