.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}

.grid__box {
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid__imgContainer img {
    max-width: 50%;
    height: auto;
    margin-bottom: 1.5rem;
}

.grid__boxTitle {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.grid__text {
    font-family: 'Poppins', 'Arial';
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.grid__box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1.5rem 3rem rgba(0, 0, 0, 0.2),
                0px -1.5rem 3rem rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 580px) {
    .grid {
        grid-template-columns: 25rem;
    }
    .grid__box {
        width: 100%;
    }
}